.footer__column-link {
  margin-right: 18px;
}

.footer__column-link:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 568px) {
  .footer__column-link {
    margin-right: 0;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 568px) {
  .footer__column-link:last-of-type {
    padding-bottom: 0px;
  }
}
