.footer__column-link {
  margin-right: 18px;
  list-style-type: none;
}

@media screen and (max-width: 715px) {
  .footer__column-link {
    margin-right: 0;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 715px) {
  .footer__column-link:last-of-type {
    padding-bottom: 0px;
  }
}
